*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #415a77;
/* trocar cor depois */
}

header{
    background-color: #0d1b2a;
    /* trocar cor depois */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    box-shadow: 0 4px 10px ;

}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    color: #e0e1dd;
    font-family: Arial, sans-serif; 
    /* trocar fonte depois */
    font-size: 1rem;
    transition: color 0.7s ease;
}

header nav a:hover {
    color: #A3A876; 
    /* trocar cor depois */    
}

.img-sesi{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 50px;
    padding: 80px;
}

.titulo {
    margin-top: 30px;
    text-align: center;
    color: #e0e1dd;
}

.topico1, .topico2 {
    background-color: #e0e1dd;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


.topico1 h2, .topico2 h2 {
    color: #1b263b;
    margin-bottom: 10px;
    text-align: center;
}

.topico1 p, .topico2 p {
    color: #1b263b;
    line-height: 1.6;
}

.img1 img{
    height: 400px;
}

.img1,
.img2,
.img3 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.img1 img,
.img2 img,
.img3 img
 {
    height: 400px;
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 2px 10px 
}

.img3{
    margin-top: 65px;
}