*{
    margin: 0px;
    padding: 0px;
}

body{
/* background-color: ; */
}

header{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    transition: color 1s ease;
}

header nav a:hover {
    color: blue; 
}

.img-sesi{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100px;
}